.bem_vindo_adm{
    background-image: url(../img/admins.jpg);
    background-position: center;
    height: 52vh;
    text-align: center;
}

.bem_vindo_adm h1{
    background-color: #656565;
    color: #c72641;
}


