.vermelho-li{
    color: #fa3e3e;
}

.verde-li{
    color: #7CFC00;
}

#lista-lideres li{
    font-weight: bold;
}

#aguarde{
    width: 100%;
    display: flex;
    justify-content: center;
}

#aguarde img{
    width: 100px;
}