.formulario{
    width: 80%;
    margin-left: auto;
}

input{
    border: none;
    border: 1px solid #c72641;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 30%;
    padding: 3px;
    outline: 0;
}

.container .formulario p a{
    color: #c72641;
    text-decoration: underline;
    font-weight: bold;
}

#form_login a{
    color: #DE1F1F;
}

#img_aguarde{
    width: 100px;
}

#div_notificacao{
    display: flex;
    background: #fff;
    width: 38%;
    border-radius: 5px;
    box-shadow: 2px 2px 11px 3px #000;
    position: fixed;
    right: 10px;
}


.fa-bell{
    color: #000;
    background-color: #DE1F1F;
    padding: 2px;
    border-radius: 4px 0px 0px 4px;
}

#div_notificacao div{
    width: 100%;
    display: flex;
    justify-content: center;
}

#div_notificacao div h4{
    color: #c72641;
}

