@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

main{
    width: 80%;
    margin: auto;
    padding: 5px;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height: 15vh;
    width: 100vw;
    background-color: #596a71;
}

.menu div img{
    width: 100px;
}

.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li{
    margin-left: 15px;
}

.menu ul li a{
    transition: .3s;
    text-decoration: none;
    color: black;
    padding: 3px;
}

.menu ul li a:hover{
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.on{
    background-color:rgba(255, 255, 255, .5);
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.on:hover{
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.alert{
    background-color: #ffe819;
    padding: 5px;
    border-radius: 5px;
    max-width: max-content;
}