.bem-vindo{
    text-align: center;
    height: 400px;
    background-image: url(../img/operadores.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c72641;
}

footer ul{
    width: 5%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}