*{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #505050;
    font-size: 18px;
}

a{
    text-decoration: none;
}

.discord{
    color: #7289da;
}

.fa-discord{
    color: #7289da;
}

h1{
    text-shadow: 3px 3px 8px #000000;
}

h2{
    text-shadow: 3px 3px 8px #000000;
}

.menu{
    background-color: #656565;
    height: 140px;
}

.menu div{
    float: left;
}

.logo{
    width: 120px;
    margin-left: 15px;
}

.l-menu{
    list-style: none;
    display: flex;
    float: right;
    margin-top: 55px;
}

.l-menu li{
    margin-right: 10px;
}

.btn{
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: #c72641;
}

.ativo{
    border: none;
    border-bottom: 1px solid #c72641;
}

.container{
    padding-top: 15px;
    margin: auto;
    width: 80%;
}

.lista{
    margin-left: 22px;
}


